/* css reset */
html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	background-color: var(--background);
	color: var(--font-color);
	font-family: "Roboto", sans-serif;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
/* css reset */

/* css properties */
:root {
	--background: #121212;
	--dark-color: #053742;
	--medium-color: #39a2db;
	--light-color: #a2dbfa;
	--font-color: #ffffff;
}
/* css properties */
/* main */
main {
	display: flex;
	height: calc(100vh - 40px);
}

.calculator-container {
	margin: auto;
	max-width: 30rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 20px;
}

.display {
	display: flex;
	flex-direction: column;
	color: var(--font-color);
	border: 4px solid var(--dark-color);
	border-radius: 14px;
	padding: 5px;
}

.answer-display {
	background-color: var(--background);
	color: var(--font-color);
	border: none;
	border-radius: 14px;
	font-size: 48px;
	white-space: nowrap;
	overflow-x: hidden;
}

.equation-display {
	color: var(--font-color);
	background-color: var(--background);
	border: none;
	border-radius: 14px;
	font-size: 24px;
	white-space: nowrap;
	overflow-x: hidden;
}

/* calculator buttons grid */
.input-buttons {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-template-areas:
		"clear delete negative divide"
		"seven eight nine  multiply"
		"four five six subtract"
		"one two three add"
		"percent zero dot equal";
}

.zero {
	grid-area: zero;
}
.one {
	grid-area: one;
}
.two {
	grid-area: two;
}
.three {
	grid-area: three;
}
.four {
	grid-area: four;
}
.five {
	grid-area: five;
}
.six {
	grid-area: six;
}
.seven {
	grid-area: seven;
}
.eight {
	grid-area: eight;
}
.nine {
	grid-area: nine;
}
.dot {
	grid-area: dot;
}
.percent {
	grid-area: percent;
}
.divide {
	grid-area: divide;
}
.multiply {
	grid-area: multiply;
}
.subtract {
	grid-area: subtract;
}
.add {
	grid-area: add;
}
.clear {
	grid-area: clear;
}
.delete {
	grid-area: delete;
}
.negative {
	grid-area: negative;
}
.equal {
	grid-area: equal;
}
.number,
.operator,
.misc,
.controller {
	cursor: pointer;
	background-color: var(--dark-color);
	border: 4px solid var(--dark-color);
	border-radius: 14px;
	transition: all 0.1s ease-in-out;
	font-size: 48px;
	color: var(--font-color);
	font-family: inherit;
	height: 6rem;
}
.number:hover,
.operator:hover,
.misc:hover,
.controller:hover {
	border: 4px solid var(--medium-color);
}
/* calculator buttons */
/* main */
/* footer */
footer {
	background-color: var(--dark-color);
	padding: 10.5px;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: var(--font-color);
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}
footer a:hover {
	color: var(--medium-color);
}
/* footer */

@media (max-width: 768px) {
	main {
		display: block;
	}
	.number,
	.operator,
	.misc,
	.controller {
		height: 5rem;
	}
}
